.labels, .mates {
  border:solid 1px #888;
  border-radius:5px;
  padding:0 5px;
  margin:-1px;
  width:350px;
  line-height:30px;
}
.labels {
  display:block;
  background-color:#ddd;
}
.mates {
  background-color:white;
  overflow:hidden;
  height:0;
  transition:1s;
}
input {
  display:none;
}
label:hover {
  text-decoration:underline;
}


#l01:checked ~ #tbl #t01{
  height:50px;
}

#l02:checked ~ #tbl #t02{
  height:50px;
}
#l03:checked ~ #tbl #t03{
  height:50px;
}
#l04:checked ~ #tbl #t04{
  height:50px;
}
